2.munit-before-after/src/main/mule/2.munit-before-after.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="getMedicalAppointement" doc:id="2b2db23d-daac-46ab-bda4-f43b133271eb" >
		<http:listener doc:name="HTTP POST" doc:id="470883a5-22b8-4f2e-8e10-4813cd07b363" config-ref="HTTP_Listener_config" path="/beforeafter" allowedMethods="POST"/>
		<logger level="INFO" doc:name="Log PAYLOAD" doc:id="06c49c6f-5116-43eb-a178-cb2a80967d24" message="#[%dw 2.0&#10;&#10;output application/json&#10;---&#10;payload]"/>
		<logger level="INFO" doc:name="Log END" doc:id="ff261d2e-81e8-4811-9006-b94b539b928d" message='#["Log END"]'/>
	</flow>
</mule>
